/vendor
/node_modules
/public/build
/public/hot

.env
.env.backup

/storage/*.key
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

/src/vendor
/src/node_modules
/src/.env
/src/public/storage
/src/storage/app/public/*
!/src/storage/app/public/.gitignore
/src/storage/logs/*.log
/src/storage/framework/cache/*
/src/storage/framework/sessions/*
/src/storage/framework/views/*

/db/data

.DS_Store
Thumbs.db
*:Zone.Identifier